.reviews
  - if user.reviews.any?
    %h4
      %small Latest reviews from
      #{user.firstname}
      %small :
    - user.last_reviews.each do |review|
      .well
        .review
          %h5
            %small Title:
            = review.product.title
          %h5
            %small Rate:
            = review.decorate.rating
          %h5
            %small Date:
            = review.created_at.strftime('%d/%m/%Y')
            %hr.divider
        %p= review.content
  - else
    %h4
      %i #{user.firstname} has no reviews yet
