.reviews
  - if user.reviews.any?
    %h4
      %small Latest reviews from #{user.firstname}:
    - user.last_reviews.each do |review|
      .well
        .review
          %h5
            %small Product:
            = link_to category_product_path(review.product.category, review.product) do 
              = review.product.title
          %h5
            %small Rate:
            = review.decorate.rating
          %h5
            %small Date:
            = review.created_at.strftime('%d/%m/%Y')
            %hr.divider
        %p= review.content
  - else
    %h4
      %i #{user.firstname} has no reviews yet
