.less-margin
  .jumbotron.text-center
    .vertical
      %h1
        %b AMAZING HEADLINE
      %p ... extremely interesting paragraph with really convincing sentences.
      %p= link_to 'Click me immediately!', categories_path, class: 'btn btn-success btn-lg'

  .row.text-center
    .col-md-4
      = link_to categories_path do
        .thumbnail.category-row.faa-parent.animated-hover
          %i.fa.fa-tags.fa-5x.faa-shake.faa-slow
          %h2 Cool Categories
          #count-categories.hide
            = @count_categories
    .col-md-4
      = link_to category_path(@category) do
        .thumbnail.product-row.faa-parent.animated-hover
          %i.fa.fa-rocket.fa-5x.faa-float
          %h2 Cosmic Products
          #count-products.hide
            = @count_products
    .col-md-4
      = link_to category_product_path(@category, @product) do
        .thumbnail.review-row.faa-parent.animated-hover
          %i.fa.fa-heart.fa-5x.faa-pulse
          %h2 Heartfelt Reviews
          #count-reviews.hide
            = @count_reviews
