.less-margin
  .jumbotron-category
    .vertical
      %h1.moved
        %i.fa.fa-tag.fa-1x
        %b= category.name_upcase

.row
  - if is_admin
    %span
      = link_to edit_category_path(category) do
        %i.fa.fa-pencil
        Edit this category
%br

.row.lower
  = render 'products'

  .col-lg-4
    - if is_admin
      .rendered-form
        .page-header
          %h1
            %i.fa.fa-plus
            product
            %small to
            %small= category.name

          = render 'products/form'

%br
= link_to 'Back to categories', categories_path, class: 'btn btn-default'
