= simple_form_for [category, product] do |f|
  = render "layouts/error_messages", object: product

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: "Product title"
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control', placeholder: "Description of the product"
  .form-group
    = f.label :price
    = f.text_field :price, class: 'form-control', placeholder: "$$$"

  = f.submit 'Save', class: 'btn btn-success pull-right'
