.row
  .col-lg-5.col-lg-offset-1
    - if is_owner
      %br
      %span
        = link_to edit_category_product_path(category.id, product.id) do
          %i.fa.fa-pencil
          Edit this product

.row
  .col-lg-5.col-lg-offset-1
    .product
      %h2= product.title.humanize
      %p
        = product.description
      .row
        .col-lg-4.col-sm-6
          %span
            %h4
              %i.fa.fa-dollar.fa-1x
              = product.price
        .col-lg-4.col-sm-6
          %span
            %h4
              %i.fa.fa-heart.fa-1x
              = product.average_rating.round(2)
        .col-lg-4.col-sm-6
          %span
            %h5
              %i.fa.fa-tag.fa-1x
              = product.category.name

      %hr.divider
      .row
        %span.span-less-margin
          %h4
            %small Author:
            = link_to product.user do
              = product.user.decorate.fullname

  .col-lg-3.col-lg-offset-1
    - if product.reviews.any?
      %h3
        %i.fa.fa-star
        reviews from users
      = render reviews

    - else
      %h3
        %i.fa.fa-question
        no reviews by far!

    - if current_user
      .rendered-form
        .page-header
          %h2
            Rate
            %small and review!
        = render 'reviews/form'

.row
  .col-lg-5.col-lg-offset-1
    = link_to 'Back to products', category_products_path(product.category), class: 'btn btn-default'
