= simple_form_for [category, product, review] do |f|
  = render "layouts/error_messages", object: review

  .form-group
    = f.label :content
    = f.text_area :content, class: 'form-control', placeholder: 'This product is amazing!'
  .form-group
    = f.input :rating, collection: 1..5, prompt: "Rate this", class: 'form-control'

  = f.submit 'Save', class: 'btn btn-success'
